# Cryptography Details
BIT_SIZE = 128
BYTE_SIZE = 16
ITERATION = 10000

# File Inforation
DIRECTORY = "data"
MASTER_DATA= "master.txt"
META_DATA = "meta.txt"
DATABASE = "secrets.txt"

# Master User Information
MASTER_USER = ""
MASTER_PASSWORD = ""